<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PluginDirectory" value="D:\Media\Applications\Tray Notifier\Plugins\" />
    <add key="UserDataDirectory" value="D:\Media\Applications\Tray Notifier\UserData\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>